# Medical Insurance Project
## Phase 4: Python Lists
This is a continuation of the project started in main.

The following code is provided:

In [36]:
# Function to estimate insurance cost:
def estimate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
  estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
  print(name + "'s Estimated Insurance Cost: " + str(estimated_cost) + " dollars.")
  return estimated_cost
 
# Estimate Maria's insurance cost
maria_insurance_cost = estimate_insurance_cost(name = "Maria", age = 31, sex = 0, bmi = 23.1, num_of_children = 1, smoker = 0)

# Estimate Rohan's insurance cost
rohan_insurance_cost = estimate_insurance_cost(name = 
"Rohan", age = 25, sex = 1, bmi = 28.5, num_of_children = 3, smoker = 0)

# Estimate Valentina's insurance cost
valentina_insurance_cost = estimate_insurance_cost(name = "Valentina", age = 53, sex = 0, bmi = 31.4, num_of_children = 0, smoker = 1)

Maria's Estimated Insurance Cost: 4222.0 dollars.
Rohan's Estimated Insurance Cost: 5442.0 dollars.
Valentina's Estimated Insurance Cost: 36368.0 dollars.

Compare the estimated insurance costs for Maria, Rohan, and Valentia with the actual amounts they paid.

Create a list of the names of individuals.

In [37]:
names = ["Maria", "Rohan", "Valentina"]
names

['Maria', 'Rohan', 'Valentina']

Next, create a list of the insurance costs actually paid by the individuals.

In [38]:
insurance_costs = [4150.0, 5320.0, 35210.0]
insurance_costs

[4150.0, 5320.0, 35210.0]

We now want these names and costs to be paired together.

In [39]:
insurance_data = zip(names, insurance_costs)
insurance_data

This output isn't entirely helpful to us, so we will convert the zip object to a list.

In [40]:
insurance_data = list(insurance_data)
insurance_data

[('Maria', 4150.0), ('Rohan', 5320.0), ('Valentina', 35210.0)]

Next, we will create a list to store the estimated insurance costs of each individual.

In [41]:
estimated_insurance_data = []

In [42]:
estimated_insurance_data.append(("Maria", maria_insurance_cost))
estimated_insurance_data.append(("Rohan", rohan_insurance_cost))
estimated_insurance_data.append(("Valentina", valentina_insurance_cost))
estimated_insurance_data

[('Maria', 4222.0), ('Rohan', 5442.0), ('Valentina', 36368.0)]

## Extra Challenges
Calculatethe difference between the actual insurance cost and the estimated insurance cost for each individual. We noticethat the estimates are all greater than the actual costs, so this list will show by how much the cost was over-estimated.

In [43]:
insurance_cost_diff = []
for i in range(len(insurance_data)):
    name = insurance_data[i][0]
    actual = insurance_data[i][1]
    estimate = estimated_insurance_data[i][1]
    diff = estimate - actual
    insurance_cost_diff.append((name, diff))
insurance_cost_diff

[('Maria', 72.0), ('Rohan', 122.0), ('Valentina', 1158.0)]

## Lists Part 2

In this part, we are considered to be a doctor sorting through medical insurance cost data for some patients.

The following code is provided:

In [44]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

Append a new individual to the "names" list and append their insurance cost to the `insurance_costs` list

In [45]:
names.append("Priscilla")
insurance_costs.append(8320.0)
print(names)
print(insurance_costs)

['Mohamed', 'Sara', 'Xia', 'Paul', 'Valentina', 'Jide', 'Aaron', 'Emily', 'Nikita', 'Paul', 'Priscilla']
[13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0, 8320.0]

Pair the names with their costs in a new list by using the `zip()` function.

In [46]:
medical_records = list(zip(insurance_costs, names))
medical_records

[(13262.0, 'Mohamed'),
 (4816.0, 'Sara'),
 (6839.0, 'Xia'),
 (5054.0, 'Paul'),
 (14724.0, 'Valentina'),
 (5360.0, 'Jide'),
 (7640.0, 'Aaron'),
 (6072.0, 'Emily'),
 (2750.0, 'Nikita'),
 (12064.0, 'Paul'),
 (8320.0, 'Priscilla')]

Check to see how many medical records we are dealing with.

In [47]:
num_medical_records = len(medical_records)
print("There are {num} medical records.".format(num=num_medical_records))

There are 11 medical records.

Select the first medical record in the list.

In [48]:
first_medical_record = medical_records[0]
print("The first record in the list is: {record}".format(record = first_medical_record))

The first record in the list is: (13262.0, 'Mohamed')

Sort `medical_records` so that the individual with the lowest cost appears first.

In [49]:
medical_records.sort()
print("The sorted records are as follows:")
medical_records

The sorted records are as follows:

[(2750.0, 'Nikita'),
 (4816.0, 'Sara'),
 (5054.0, 'Paul'),
 (5360.0, 'Jide'),
 (6072.0, 'Emily'),
 (6839.0, 'Xia'),
 (7640.0, 'Aaron'),
 (8320.0, 'Priscilla'),
 (12064.0, 'Paul'),
 (13262.0, 'Mohamed'),
 (14724.0, 'Valentina')]

To look at the three cheapest insurance costs in our list, we can take a slice of the sorted list.

In [52]:
cheapest_three = medical_records[:3]
print("The three cheapest insurance costs in our medical records are:")
cheapest_three

The three cheapest insurance costs in our medical records are:

[(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul')]

Likewise, we can find the three most expensive insurance costs.

In [54]:
priciest_three = medical_records[-3:]
print("The three most expensive insurance costs in our medical records are:")
priciest_three

The three most expensive insurance costs in our medical records are:

[(12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

Some names are repeated in our records. We can find how many times "Paul" shows up.

In [57]:
occurances_paul = names.count("Paul")
print("There are {count} individuals with the name Paul in our records.".format(count = occurances_paul))

There are 2 individuals with the name Paul in our records.