# Medical Insurance Project
## Phase 6: Python Strings

This is a continuation of the project started in main.

The initial code provided is below:

In [1]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

We want the insurance costs to be represented in US dollars. To do so, we will replace the `#` with `$` in `medical_data`.

In [3]:
updated_medical_data = medical_data.replace('#', '$')
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

We want to now calculate the number of medical records in our data.

In [4]:
num_records = 0
for i in updated_medical_data:
    if i == "$":
        num_records += 1

print("There are {} medical records in the data.".format(num_records))

There are 10 medical records in the data.

Now we will try to split the records into items in a list.

In [5]:
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

We will now split each record into its own list to improve readability.

In [6]:
medical_records = []
for record in medical_data_split:
    medical_records.append(record.split(","))

print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

The problem now is formatiing. We will try to clean up our data now.

In [7]:
medical_records_clean = []
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

Now our data is clean. To print out the name of each individual in our records we could use the following code:

In [8]:
for record in medical_records_clean:
    print(record[0])

Marina Allison
Markus Valdez
Connie Ballard
Darnell Weber
Sylvie Charles
Vinay Padilla
Meredith Santiago
Andre Mccarty
Lorena Hodson
Isaac Vu

Now suppose we want all names to be in uppercase letters.

In [10]:
for record in medical_records_clean:
    record[0] = record[0].upper()
    print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

Let's now store each name, age, BMI, and insurance cost in separate lists.

In [11]:
names = []
age = []
BMI = []
insurance_costs = []

for record in medical_records_clean:
    names.append(record[0])
    age.append(record[1])
    BMI.append(record[2])
    insurance_costs.append(record[3])

print("Names: \n{}\n\n".format(names))
print("Age: \n{}\n\n".format(age))
print("BMI: \n{}\n\n".format(BMI))
print("Insurance Costs: \n{}\n\n".format(insurance_costs))

Names:
['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']


Age:
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']


BMI:
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']


Insurance Costs:
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

Now we can easily perform analysis on each separate attribute, such as calculating the average BMI.

In [23]:
total_bmi = 0
for i in BMI:
    total_bmi += float(i)

average_bmi = total_bmi/len(BMI)
print("Average BMI:\n{:f}".format(average_bmi))

Average BMI:
25.830000